// 对话框 vui-dialog
// 抽屉   vui-drawer
@mixin vui-modal($prefix) {
  // vars
  :root {
    --#{$prefix}-bg-color: var(--vui-bg-color-base);
    --#{$prefix}-box-shadow: var(--vui-box-shadow-base);
    --#{$prefix}-title-text-color: var(--vui-text-color-primary);
    --#{$prefix}-content-text-color: var(--vui-text-color-regular);
    --#{$prefix}-close-icon-color: var(--vui-text-color-secondary);
    --#{$prefix}-close-icon-hover-color: var(--vui-color-brand-base);
  }

  // 通用样式
  .#{$prefix} {
    // 主体
    line-height: 24px;
    background-color: var(--#{$prefix}-bg-color);
    box-shadow: var(--#{$prefix}-box-shadow);
    transition: transform 0.3s ease;

    // 顶栏
    &-header {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      font-size: 16px;
    }
    &-title {
      color: var(--#{$prefix}-title-text-color);
    }
    &-close {
      align-self: flex-start;
      color: var(--#{$prefix}-close-icon-color);
      cursor: pointer;
    }
    &-close:hover {
      color: var(--#{$prefix}-close-icon-hover-color);
    }

    // 内容
    &-body {
      font-size: 14px;
      color: var(--#{$prefix}-content-text-color);
    }

    // 底栏
    &-footer {
      display: flex;
      gap: 10px;
      justify-content: flex-end;
      padding-top: 16px;
    }

    // 动画
    &-enter-from,
    &-leave-to {
      opacity: 0;
    }
  }
}

// 对话框
@mixin vui-dialog() {
  @include vui-modal("vui-dialog");
  .vui-dialog {
    // 主体
    width: 50%;
    max-width: 98vw;
    padding: 16px;
    margin: 15vh auto 50px;
    overflow: auto;
    border-radius: 4px;

    // 顶栏
    &-header {
      padding-bottom: 16px;
    }

    // 动画
    &-enter-from > &,
    &-leave-to > & {
      transform: translateY(-20px);
    }
  }
}

// 抽屉
@mixin vui-drawer() {
  @include vui-modal("vui-drawer");
  .vui-drawer {
    // 主体
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 100vw;
    height: 100vh;
    padding: 16px 0;
    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }

    // 顶栏
    &-header {
      flex: none;
      padding: 0 16px 16px;
    }

    // 内容
    &-body {
      flex: auto;
      padding: 0 16px;
      overflow: auto;
    }

    // 底栏
    &-footer {
      flex: none;
      padding: 16px 16px 0;
    }

    // 动画
    &-enter-from > &,
    &-leave-to > & {
      &--left {
        transform: translateX(-100%);
      }
      &--right {
        transform: translateX(100%);
      }
    }
  }
}
