// 按钮
// ----------------------------------------

@use "../../../styles/mixins";
.vui-btn {
  // 根元素
  display: inline-flex;
  flex: none;
  gap: 5px;
  align-items: center;
  justify-content: center;
  height: var(--vui-btn-height);
  padding: var(--vui-btn-padding);
  font-size: var(--vui-btn-font-size);
  font-weight: normal;
  color: var(--vui-btn-text-color);
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  background-color: var(--vui-btn-bg-color);
  border: 1px solid var(--vui-btn-border-color);
  border-radius: var(--vui-btn-radius, 4px);
  transition: all 0.3s ease;

  // 状态
  &:not(.is-disabled):hover {
    color: var(--vui-btn-hover-text-color, var(--vui-btn-text-color));
    background-color: var(--vui-btn-hover-bg-color, var(--vui-btn-bg-color));
    border-color: var(--vui-btn-hover-border-color, var(--vui-btn-border-color));
    opacity: 0.8;
  }
  &.is-disabled {
    @include mixins.vui-disabled;
  }

  // 类型
  &--primary {
    --vui-btn-text-color: var(--vui-color-white);
    --vui-btn-bg-color: var(--vui-color-brand-base);
    --vui-btn-border-color: var(--vui-color-brand-base);
  }
  &--default {
    --vui-btn-text-color: var(--vui-text-color-regular);
    --vui-btn-bg-color: var(--vui-fill-color-blank);
    --vui-btn-border-color: var(--vui-border-color-base);
    --vui-btn-hover-text-color: var(--vui-color-brand-base);
    --vui-btn-hover-bg-color: var(--vui-color-brand-a1);
    --vui-btn-hover-border-color: var(--vui-color-brand-a3);
  }
  &--link {
    --vui-btn-text-color: var(--vui-color-brand-base);
    --vui-btn-bg-color: transparent;
    --vui-btn-border-color: transparent;
  }

  // 尺寸
  &--large {
    --vui-btn-height: 40px;
    --vui-btn-padding: 0 19px;
    --vui-btn-font-size: 14px;
  }
  &--medium {
    --vui-btn-height: 32px;
    --vui-btn-padding: 0 15px;
    --vui-btn-font-size: 14px;
  }
  &--small {
    --vui-btn-height: 24px;
    --vui-btn-padding: 0 11px;
    --vui-btn-font-size: 12px;
  }

  // 显示模式
  &--block {
    display: flex;
    width: 100%;
  }
}
