// 图标
@use "../../../styles/mixins";
.vui-icon {
  display: inline-block;
  flex: none;
  width: 1em;
  height: 1em;
  line-height: 1em;
  vertical-align: top; /* 消除父元素间距 */
  color: var(--vui-icon-color);
  transition: all 0.3s ease;
  > svg {
    width: 1em;
    height: 1em;
  }
  &.is-clickable {
    @include mixins.vui-clickable;
  }
  &.is-disabled {
    @include mixins.vui-disabled;
  }
  &.is-spin {
    @include mixins.vui-spin;
  }
}
