// 图标
@use "../../../styles/mixins";
.vui-icon {
  display: inline-flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: var(--vui-icon-size, 1em);
  height: var(--vui-icon-size, 1em);
  overflow: hidden;
  vertical-align: top; /* 消除父元素间距 */
  color: var(--vui-icon-color, currentColor);
  transform: rotate(var(--vui-icon-rotate, 0));
  transition: all 0.3s ease;
  > svg {
    width: 100%;
    height: 100%;
  }
  &.is-clickable {
    @include mixins.vui-clickable;
  }
  &.is-disabled {
    @include mixins.vui-disabled;
  }
  &.is-spin {
    @include mixins.vui-spin;
  }
}
