// 空状态   vui-empty
// 加载状态 vui-loading
// ----------------------------------------

@mixin vui-empty($prefix) {
  // vars
  :root {
    --#{$prefix}-text-color: var(--vui-text-color-secondary);
  }

  // 样式
  .#{$prefix} {
    // 容器
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding: 30px;
    text-align: center;

    // 描述文字
    &-desc {
      font-size: 14px;
      line-height: 24px;
      color: var(--#{$prefix}-text-color);
    }
  }

  // 空状态
  @if $prefix == "vui-empty" {
    .vui-empty {
      &-icon {
        --vui-icon-size: 40px;
        --vui-icon-color: var(--vui-border-color-dark);
      }
      &-img {
        width: 200px;
        max-width: 90%;
      }
    }
  }

  // 加载状态
  @if $prefix == "vui-loading" {
    .vui-loading {
      &-icon {
        --vui-icon-size: 18px;
        --vui-icon-color: var(--vui-color-brand-base);
      }
      &-img {
        width: 60px;
        max-width: 90%;
      }
    }
  }
}
