// vars
:root {
  --vui-empty-text-color: var(--vui-text-color-secondary);
  --vui-empty-icon-color: var(--vui-border-color-dark);
}

// 空状态
.vui-empty {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 100%;
  padding: 30px;
  text-align: center;
  &-icon {
    --vui-icon-color: var(--vui-empty-icon-color);
    --vui-icon-size: min(50%, 60px);
  }
  &-img {
    width: min(50%, 200px);
  }
  &-desc {
    font-size: 14px;
    line-height: 24px;
    color: var(--vui-empty-text-color);
  }
}
