@use "@mxui/assets/styles/vars";
@use "@mxui/assets/styles/reset";
@use "@mxui/assets/styles/base";

// vars
:root {
  --demo-body-text-color: var(--mx-text-color-primary);
  --demo-body-bg-color: #fff;
  --demo-code-bg-color: var(--mx-bg-color-active);
  --demo-sidebar-text-color: var(--mx-text-color-primary);
  --demo-sidebar-active-text-color: var(--mx-brand-color);
  --demo-sidebar-active-bg-color: var(--mx-brand-color-a10);
  --demo-card-desc-text-color: var(--mx-text-color-regular);
  --demo-border-color: var(--mx-border-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --demo-body-bg-color: #333;
  }
}

// reset
body {
  color: var(--demo-body-text-color);
  background-color: var(--demo-body-bg-color);
}

// base
code {
  padding: 0.15rem 0.5rem;
  font-family: "JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
  background-color: var(--demo-code-bg-color);
  border-radius: 4px;
}
