// 树
// ----------------------------------------

@use "../../../styles/mixins";
@use "../../table/styles/drag";
@include drag.vui-drag("vui-tree", "node");

// vars
:root {
  --vui-tree-font-size: 14px;
  --vui-tree-text-color: var(--vui-text-color-regular);
  --vui-tree-node-active-bg-color: var(--vui-fill-color-light);
}

// 样式
.vui-tree {
  // 容器
  flex: auto;
  overflow: hidden;
  font-size: var(--vui-tree-font-size);
  color: var(--vui-tree-text-color);

  // 节点
  &-node {
    position: relative;
    display: flex;
    gap: 4px;
    align-items: center;
    height: var(--vui-tree-node-height);
    padding-right: 10px;
    white-space: nowrap;
    cursor: pointer;
    &:hover,
    &.is-current {
      background-color: var(--vui-tree-node-active-bg-color);
    }

    // 占位
    &-placeholder {
      display: inline-flex;
      flex: none;
      align-items: center;
      justify-content: center;
      width: 12px;
      margin-left: 4px;
    }

    // 图标
    &-expand,
    &-loading {
      --vui-icon-color: var(--vui-text-color-placeholder);
    }
    &-expand {
      --vui-icon-size: 12px;
    }

    // 内容
    &-inner {
      @include mixins.vui-ellipsis;
    }

    // 操作按钮
    &-action {
      margin-left: auto;
    }
  }
}
