// vars
:root {
  --vui-loading-desc-text-color: var(--vui-text-color-secondary);
}

// 加载状态
.vui-loading {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  &-icon {
    --vui-icon-color: var(--vui-color-brand-base);
    --vui-icon-size: 16px;
  }
  &-desc {
    font-size: 14px;
    line-height: 24px;
    color: var(--vui-loading-desc-text-color);
  }
}
