// 下拉框
// ----------------------------------------

// vars
:root {
  --vui-dropdown-bg-color: var(--vui-bg-color-overlay);
  --vui-dropdown-border-color: var(--vui-border-color-light);
  --vui-dropdown-shadow: var(--vui-box-shadow-light);
}

// 样式
.vui-dropdown {
  // 容器
  position: fixed;
  z-index: 999;
  max-width: 95vw;
  max-height: 95vh;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: auto;
  background-color: var(--vui-dropdown-bg-color);
  border: 1px solid var(--vui-dropdown-border-color);
  border-radius: 4px;
  box-shadow: var(--vui-dropdown-shadow);
  transition:
    opacity 0.15s ease,
    transform 0.15s ease,
    left 0.1s ease,
    top 0.1s ease;

  // 动画
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(-5px);
  }
}
