// 对话框 vui-dialog
// 抽屉   vui-drawer
// ----------------------------------------

@mixin vui-dialog($prefix) {
  // vars
  :root {
    --#{$prefix}-bg-color: var(--vui-bg-color-base);
    --#{$prefix}-box-shadow: var(--vui-box-shadow-base);
    --#{$prefix}-title-text-color: var(--vui-text-color-primary);
    --#{$prefix}-content-text-color: var(--vui-text-color-regular);
    --#{$prefix}-close-icon-color: var(--vui-text-color-secondary);
    --#{$prefix}-close-icon-hover-color: var(--vui-color-brand-base);
  }

  // 样式
  .#{$prefix} {
    // 主体
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 98vw;
    padding: 16px 0;
    line-height: 24px;
    background-color: var(--#{$prefix}-bg-color);
    box-shadow: var(--#{$prefix}-box-shadow);
    transition: transform 0.3s ease;

    // 顶栏
    &-header {
      display: flex;
      flex: none;
      gap: 10px;
      justify-content: space-between;
      padding: 0 16px;
      font-size: 16px;
    }
    &-title {
      color: var(--#{$prefix}-title-text-color);
    }
    &-close {
      --vui-icon-color: var(--#{$prefix}-close-icon-color);
      --vui-icon-size: 14px;
      --vui-icon-cursor: pointer;

      margin-top: -4px;
    }
    &-close:hover {
      --vui-icon-color: var(--#{$prefix}-close-icon-hover-color);
    }

    // 内容
    &-body {
      flex: auto;
      padding: 0 16px;
      overflow: auto;
      font-size: 14px;
      color: var(--#{$prefix}-content-text-color);
    }

    // 底栏
    &-footer {
      display: flex;
      flex: none;
      gap: 10px;
      justify-content: flex-end;
      padding: 0 16px;
    }

    // 动画
    &-enter-from,
    &-leave-to {
      opacity: 0;
    }
  }

  // 对话框
  @if $prefix == "vui-dialog" () {
    .vui-dialog {
      // 主体
      width: var(--vui-dialog-width, 50vw);
      margin: 15vh auto;
      border-radius: 4px;

      // 动画
      &-enter-from > &,
      &-leave-to > & {
        transform: translateY(-20px);
      }

      // 遮罩
      &-overlay {
        overflow: auto;
      }
    }
  }

  // 抽屉
  @if $prefix == "vui-drawer" () {
    .vui-drawer {
      // 主体
      position: absolute;
      width: var(--vui-drawer-width, 30vw);
      height: 100vh;
      &--left {
        left: 0;
      }
      &--right {
        right: 0;
      }

      // 动画
      &-enter-from > &,
      &-leave-to > & {
        &--left {
          transform: translateX(-100%);
        }
        &--right {
          transform: translateX(100%);
        }
      }
    }
  }
}
