// 拖拽相关
// ----------------------------------------

// 表格 vui-table row
// 树   vui-tree  node
@mixin vui-drag($prefix1, $prefix2) {
  // vars
  :root {
    --#{$prefix1}-#{$prefix2}-drop-bg-color: var(--vui-color-brand-a10);
    --#{$prefix1}-#{$prefix2}-drop-border-color: var(--vui-color-brand-base);
  }

  // 样式
  .#{$prefix1} {
    // 根元素
    &.is-dragging {
      user-select: none;
    }

    // 列表项
    &-#{$prefix2} {
      // 操作按钮
      &-action {
        display: inline-flex;
        visibility: hidden;
        align-items: center;
        opacity: 0;
      }
      &:hover &-action,
      &.is-selected &-action {
        visibility: visible;
        opacity: 1;
      }

      // 拖拽手柄
      &-drag-handle {
        --vui-icon-size: 16px;
        --vui-icon-color: var(--vui-text-color-placeholder);

        cursor: grab;
      }

      // 拖拽项
      &.is-draging {
        opacity: 0.5;
      }

      // 目标项
      &.is-center {
        background-color: var(--#{$prefix1}-#{$prefix2}-drop-bg-color);
        opacity: 0.8;
      }
      &.is-top::before,
      &.is-bottom::after {
        position: absolute;
        right: 0;
        left: 0;
        z-index: 99;
        height: 2px;
        content: "";
        background-color: var(--#{$prefix1}-#{$prefix2}-drop-border-color);
      }
      &.is-top::before {
        top: -1px;
      }
      &.is-bottom::after {
        bottom: -1px;
      }
    }
  }
}
