// 表格
// ----------------------------------------

@use "../../../styles/mixins";
@use "./drag";
@include drag.vui-drag("vui-table", "row");

// vars
:root {
  --vui-table-font-size: 14px;
  --vui-table-text-color: var(--vui-text-color-regular);
  --vui-table-header-text-color: var(--vui-text-color-primary);
  --vui-table-row-active-bg-color: var(--vui-fill-color-light);
  --vui-table-sorter-color: var(--vui-text-color-placeholder);
  --vui-table-select-rect-bg-color: var(--vui-color-brand-a10);
  --vui-table-select-rect-border-color: var(--vui-color-brand-base);
}

// 样式
.vui-table {
  // 容器
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow: hidden;
  font-size: var(--vui-table-font-size);
  color: var(--vui-table-text-color);

  // 布局
  &-header {
    flex: none;
    font-weight: bold;
    color: var(--vui-table-header-text-color);
  }
  &-body {
    position: relative;
    flex: auto;
    overflow: auto;
  }

  // 行
  &-row {
    position: relative;
    display: flex;
    align-items: center;
    min-width: max-content;
    height: var(--vui-table-row-height);
    &:hover,
    &.is-current,
    &.is-selected {
      background-color: var(--vui-table-row-active-bg-color);
    }
  }

  // 操作按钮
  &-row-action {
    justify-content: flex-end;
    width: 24px;
  }

  // 单元格
  &-cell {
    display: inline-flex;
    flex: none;
    gap: 4px;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    white-space: nowrap;
    &-inner {
      @include mixins.vui-ellipsis;
    }

    // 拖拽缩放手柄
    .vui-dragbox-handle {
      top: 5px;
      bottom: 5px;
    }
    &:hover .vui-dragbox-handle {
      --vui-dragbox-handle-color: var(--vui-border-color-base);
    }

    // 排序
    &.is-sortable {
      cursor: pointer;
    }
    &-sort {
      display: flex;
      flex-direction: column;
      gap: 2px;
      margin-left: auto;
      cursor: pointer;
    }
    &-sorter {
      width: 0;
      height: 0;
      border: solid transparent;
      border-width: 6px 4px;
      transition: all 0.3s;
      &.is-asc {
        border-bottom-color: var(--vui-table-sorter-color);
      }
      &.is-desc {
        border-top-color: var(--vui-table-sorter-color);
      }
      &.is-active {
        --vui-table-sorter-color: var(--vui-color-brand-base);
      }
    }
  }

  // 鼠标框选
  &-select-rect {
    position: absolute;
    z-index: 999;
    pointer-events: none;
    background-color: var(--vui-table-select-rect-bg-color);
    border: 1px solid var(--vui-table-select-rect-border-color);
  }
}
