// 公共样式
@use "./base";
@include base.vui-selection-drag("vui-table-row");

// vars
:root {
  --vui-table-font-size: 14px;
  --vui-table-text-color: var(--vui-text-color-regular);
  --vui-table-row-active-bg-color: var(--vui-fill-color-light);
}

// 表格
.vui-table {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow: hidden;
  font-size: var(--vui-table-font-size);
  color: var(--vui-table-text-color);

  // 布局
  &-header {
    flex: none;
    font-weight: bold;
  }
  &-body {
    position: relative;
    flex: auto;
    overflow: auto;
  }

  // 行
  &-row {
    position: relative;
    display: flex;
    min-width: max-content;
    height: var(--vui-table-row-height);
    &:hover,
    &.is-current,
    &.is-selected {
      background-color: var(--vui-table-row-active-bg-color);
    }
  }

  // 单元格
  &-cell {
    display: inline-flex;
    flex: none;
    gap: 4px;
    align-items: center;
    padding: 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
