@use "../../../styles/mixins";

// vars
:root {
  --vui-switch-on-bg-color: var(--vui-color-brand-base);
  --vui-switch-off-bg-color: var(--vui-border-color-base);
  --vui-switch-action-bg-color: var(--vui-color-white);
  --vui-switch-label-text-color: var(--vui-text-color-primary);
  --vui-switch-label-active-text-color: var(--vui-color-brand-base);
}

// 开关
.vui-switch {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  height: 32px;
  vertical-align: top; /* 消除父元素间距 */

  // 文本
  &-label {
    color: var(--vui-switch-label-text-color);
    transition: color 0.3s ease;
    &.is-active {
      color: var(--vui-switch-label-active-text-color);
    }
  }

  // 轨道
  &-inner {
    position: relative;
    flex: none;
    width: 40px;
    height: 20px;
    cursor: pointer;
    background-color: var(--vui-switch-off-bg-color);
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }

  // 滑块
  &-action {
    position: absolute;
    top: 2px;
    left: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background-color: var(--vui-switch-action-bg-color);
    border-radius: 50%;
    transition: left 0.3s ease;
  }

  // 选中状态
  &.is-checked & {
    &-inner {
      background-color: var(--vui-switch-on-bg-color);
    }
    &-action {
      left: calc(100% - 18px);
    }
  }

  // 加载状态
  &.is-loading &-inner {
    @include mixins.vui-disabled;
  }

  // 加载图标
  .vui-icon {
    font-size: 12px;
    color: var(--vui-switch-on-bg-color);
  }
}
