// 拖拽盒子
// ----------------------------------------

// vars
:root {
  --vui-dragbox-handle-color: transparent;
  --vui-dragbox-handle-hover-color: var(--vui-color-brand-base);
}

// 样式
.vui-dragbox {
  // 可移动
  &.is-movable {
    position: fixed;
    z-index: 999;
  }
  &.is-moving {
    cursor: move;
    user-select: none;
    transition: none !important;
  }

  // 可拖拽
  &.is-resizable {
    position: relative;
  }
  &.is-resizing {
    user-select: none;
    transition: none !important;
  }

  // 拖拽手柄
  &.is-moving &-handle,
  &.is-resizing &-handle:not(.is-active) {
    display: none;
  }
  &-handle {
    position: absolute;
    z-index: 999;
    background-color: var(--vui-dragbox-handle-color);
    transition: background-color 0.3s ease;
    &:hover,
    &.is-active {
      background-color: var(--vui-dragbox-handle-hover-color);
    }
    &-left,
    &-right {
      top: 0;
      bottom: 0;
      width: 2px;
      cursor: ew-resize;
    }
    &-left {
      left: 0;
    }
    &-right {
      right: 0;
    }
    &-top,
    &-bottom {
      right: 0;
      left: 0;
      height: 2px;
      cursor: ns-resize;
    }
    &-top {
      top: 0;
    }
    &-bottom {
      bottom: 0;
    }
  }
}
