// 按钮
@use "../../../styles/mixins";
.vui-btn {
  display: inline-flex;
  flex: none;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  color: var(--vui-btn-text-color);
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  background-color: var(--vui-btn-bg-color);
  border: 1px solid var(--vui-btn-border-color);
  border-radius: 4px;
  transition: all 0.3s ease;
  &:not(:disabled):hover {
    color: var(--vui-btn-hover-text-color, var(--vui-btn-text-color));
    background-color: var(--vui-btn-hover-bg-color, var(--vui-btn-bg-color));
    border-color: var(--vui-btn-hover-border-color, var(--vui-btn-border-color));
    opacity: 0.8;
  }

  // 禁用状态
  &:disabled {
    @include mixins.vui-disabled;
  }

  // 类型
  &--primary {
    --vui-btn-text-color: var(--vui-color-white);
    --vui-btn-bg-color: var(--vui-color-brand-base);
    --vui-btn-border-color: var(--vui-color-brand-base);
  }
  &--default {
    --vui-btn-text-color: var(--vui-text-color-regular);
    --vui-btn-bg-color: var(--vui-fill-color-blank);
    --vui-btn-border-color: var(--vui-border-color-base);
    --vui-btn-hover-text-color: var(--vui-color-brand-base);
    --vui-btn-hover-bg-color: var(--vui-color-brand-a10);
    --vui-btn-hover-border-color: var(--vui-color-brand-a30);
  }
  &--link {
    --vui-btn-text-color: var(--vui-color-brand-base);
    --vui-btn-bg-color: transparent;
    --vui-btn-border-color: transparent;
  }

  // 尺寸
  &--large {
    height: 40px;
    padding: 0 19px;
    font-size: 14px;
  }
  &--medium {
    height: 32px;
    padding: 0 15px;
    font-size: 14px;
  }
  &--small {
    height: 24px;
    padding: 0 11px;
    font-size: 12px;
  }

  // 显示模式
  &--block {
    display: flex;
    width: 100%;
  }
}
