// reset
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--vui-font-family);
}
input,
select,
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  appearance: none;
  outline: 0;
  background-color: transparent;
  border: 0;
}
a {
  text-decoration: none;
}
