// vars
:root {
  // 品牌色
  --vui-color-white: #fff;
  --vui-color-brand-base: #458ff3;
  --vui-color-brand-a10: #458ff31a;
  --vui-color-brand-a30: #458ff34d;

  // 文本色
  --vui-text-color-primary: #303133;
  --vui-text-color-regular: #606266;
  --vui-text-color-secondary: #909399;
  --vui-text-color-placeholder: #a8abb2;
  --vui-text-color-disabled: #c0c4cc;

  // 背景色
  --vui-bg-color-base: #fff;
  --vui-bg-color-overlay: #fff;
  --vui-bg-color-page: #f2f3f5;

  // 填充色
  --vui-fill-color-base: #f0f2f5;
  --vui-fill-color-dark: #ebedf0;
  --vui-fill-color-darker: #e6e8eb;
  --vui-fill-color-light: #f5f7fa;
  --vui-fill-color-lighter: #fafafa;
  --vui-fill-color-extra-light: #fafcff;
  --vui-fill-color-blank: #fff;

  // 边框色
  --vui-border-color-base: #dcdfe6;
  --vui-border-color-dark: #d4d7de;
  --vui-border-color-darker: #cdd0d6;
  --vui-border-color-light: #e4e7ed;
  --vui-border-color-lighter: #ebeef5;
  --vui-border-color-extra-light: #f2f6fc;

  // 阴影色
  --vui-box-shadow-base: 0px 12px 32px 4px rgb(0 0 0 / 4%), 0px 8px 20px rgb(0 0 0 / 8%);
  --vui-box-shadow-dark: 0px 16px 48px 16px rgb(0 0 0 / 8%), 0px 12px 32px rgb(0 0 0 / 12%), 0px 8px 16px -8px rgb(0 0 0 / 16%);
  --vui-box-shadow-light: 0px 0px 12px rgb(0 0 0 / 12%);
  --vui-box-shadow-lighter: 0px 0px 6px rgb(0 0 0 / 12%);

  // 遮罩色
  --vui-mask-color-base: rgb(255 255 255 / 90%);
  --vui-mask-color-extra-light: rgb(255 255 255 / 30%);
  --vui-overlay-color-base: rgb(0 0 0 / 80%);
  --vui-overlay-color-light: rgb(0 0 0 / 70%);
  --vui-overlay-color-lighter: rgb(0 0 0 / 50%);

  // 禁用色
  --vui-disabled-text-color: var(--vui-text-color-placeholder);
  --vui-disabled-bg-color: var(--vui-fill-color-light);
  --vui-disabled-border-color: var(--vui-border-color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    // 品牌色
    --vui-color-brand-base: #6f8cb4;
    --vui-color-brand-a10: #6f8cb41a;
    --vui-color-brand-a30: #6f8cb44d;

    // 文本色
    --vui-text-color-primary: #e5eaf3;
    --vui-text-color-regular: #cfd3dc;
    --vui-text-color-secondary: #a3a6ad;
    --vui-text-color-placeholder: #8d9095;
    --vui-text-color-disabled: #6c6e72;

    // 背景色
    --vui-bg-color-base: #141414;
    --vui-bg-color-overlay: #1d1e1f;
    --vui-bg-color-page: #0a0a0a;

    // 填充色
    --vui-fill-color-base: #303030;
    --vui-fill-color-dark: #39393a;
    --vui-fill-color-darker: #424243;
    --vui-fill-color-light: #262727;
    --vui-fill-color-lighter: #1d1d1d;
    --vui-fill-color-extra-light: #191919;
    --vui-fill-color-blank: transparent;

    // 边框色
    --vui-border-color-base: #4c4d4f;
    --vui-border-color-dark: #58585b;
    --vui-border-color-darker: #636466;
    --vui-border-color-light: #414243;
    --vui-border-color-lighter: #363637;
    --vui-border-color-extra-light: #2b2b2c;

    // 阴影色
    --vui-box-shadow-base: 0px 12px 32px 4px rgb(0 0 0 / 36%), 0px 8px 20px rgb(0 0 0 / 72%);
    --vui-box-shadow-dark: 0px 16px 48px 16px rgb(0 0 0 / 72%), 0px 12px 32px #000, 0px 8px 16px -8px #000;
    --vui-box-shadow-light: 0px 0px 12px rgb(0 0 0 / 72%);
    --vui-box-shadow-lighter: 0px 0px 6px rgb(0 0 0 / 72%);

    // 遮罩色
    --vui-mask-color-base: rgb(0 0 0 / 80%);
    --vui-mask-color-extra-light: rgb(0 0 0 / 30%);
  }
}
