/* stylelint-disable no-duplicate-selectors */
// 自定义样式
:root {
  --demo-filed-width: 240px;
  --demo-filed-gap: 18px;
  --demo-text-color-primary: var(--vui-text-color-primary);
  --demo-text-color-regular: var(--vui-text-color-regular);
  --demo-border-color-base: var(--vui-border-color-base);
  --demo-border-color-light: var(--vui-border-color-lighter);
  --demo-box-shadow: var(--vui-box-shadow-base);
  --demo-bg-color-base: var(--vui-bg-color-base);
  --demo-view-bg-color: var(--vui-bg-color-page);
}

// 覆盖 vitepress 样式
// https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
:root {
  --vp-layout-max-width: 100vw;
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
  --vp-home-hero-image-filter: blur(44px);
  --vp-custom-block-tip-bg: var(--vui-color-brand-a1);
  --vp-custom-block-tip-border: var(--vui-color-brand-base);
  --vp-custom-block-info-border: var(--vui-border-color-base);
  --vp-custom-block-warning-border: var(--vui-color-warning-base);
}
body {
  color: var(--demo-text-color-regular);
}
.content-container {
  max-width: 1200px !important;
}
.custom-block {
  border: 0;
  border-left: 5px solid;
}
code,
th,
td:first-child,
td:last-child {
  white-space: nowrap;
}
.vp-doc th,
.vp-doc td {
  background-color: transparent;
  border: 0;
}
.vp-doc tr {
  background-color: transparent !important;
  border-top: 0;
  border-bottom: 1px solid var(--vp-c-divider);
}

// 覆盖 demo-preview 插件样式
.vitepress-demo-preview-preview,
.vitepress-demo-plugin-preview {
  padding-bottom: 20px !important;
}
.vitepress-demo-preview-source > div {
  border-top: 1px dashed var(--component-preview-border);
}

// 覆盖冲突样式
.vp-doc a.vui-btn {
  font-weight: normal;
  color: var(--vui-btn-text-color);
  text-decoration: none;
  transition: all 0.3s ease;
}
