// 输入框 vui-input
// 选择器 vui-select
// ----------------------------------------

@use "../../../styles/mixins";

@mixin vui-input($prefix) {
  // vars
  :root {
    --#{$prefix}-text-color: var(--vui-text-color-regular);
    --#{$prefix}-placeholder-text-color: var(--vui-text-color-placeholder);
    --#{$prefix}-bg-color: var(--vui-fill-color-blank);
    --#{$prefix}-border-color: var(--vui-border-color-base);
    --#{$prefix}-hover-border-color: var(--vui-text-color-disabled);
    --#{$prefix}-focus-border-color: var(--vui-color-brand-base);
  }

  // 样式
  .#{$prefix} {
    // 内部的所有图标
    --vui-icon-color: var(--vui-text-color-placeholder);

    // 容器
    display: flex;
    gap: 8px;
    align-items: center;
    width: var(--#{$prefix}-width);
    padding: 0 8px;
    background-color: var(--#{$prefix}-bg-color);
    border: 1px solid var(--#{$prefix}-border-color);
    border-radius: 4px;
    transition: border-color 0.3s ease;

    // 状态
    &:not(.is-disabled):hover {
      border-color: var(--#{$prefix}-hover-border-color);
    }
    &:not(.is-disabled).is-focus {
      border-color: var(--#{$prefix}-focus-border-color);
    }
    &.is-disabled {
      @include mixins.vui-disabled;
    }

    // 内容
    &-inner {
      @include mixins.vui-ellipsis;

      flex: auto;
      width: 0;
      height: 100%;
      color: var(--#{$prefix}-text-color);
      &:disabled {
        cursor: not-allowed;
      }
    }

    // 尺寸
    &--medium {
      height: 32px;
      font-size: 14px;
      line-height: 30px;
    }
    &--small {
      height: 24px;
      font-size: 12px;
      line-height: 22px;
    }
  }

  // 输入框
  @if $prefix == "vui-input" () {
    .vui-input {
      // 点击状态
      cursor: text;

      // 后置图标
      &-icon {
        cursor: pointer;
      }
      &-icon:hover {
        --vui-icon-color: var(--vui-text-color-secondary);
      }
    }
  }

  // 选择器
  @if $prefix == "vui-select" () {
    .vui-select {
      // 点击状态
      cursor: pointer;

      // 占位文字
      &-placeholder {
        color: var(--#{$prefix}-placeholder-text-color);
      }
    }
  }
}
