// 输入框 vui-input
// 选择器 vui-select
@use "../../../styles/mixins";

// 通用样式
@mixin vui-input($prefix) {
  // vars
  :root {
    --#{$prefix}-text-color: var(--vui-text-color-regular);
    --#{$prefix}-bg-color: var(--vui-fill-color-blank);
    --#{$prefix}-border-color: var(--vui-border-color-base);
    --#{$prefix}-hover-border-color: var(--vui-text-color-disabled);
    --#{$prefix}-focus-border-color: var(--vui-color-brand-base);
  }

  // 通用样式
  .#{$prefix} {
    // 容器
    display: flex;
    gap: 8px;
    align-items: center;
    width: var(--vui-input-width);
    background-color: var(--#{$prefix}-bg-color);
    border: 1px solid var(--#{$prefix}-border-color);
    border-radius: 4px;
    transition: border-color 0.3s ease;

    // 状态
    &:not(.is-disabled):hover {
      border-color: var(--#{$prefix}-hover-border-color);
    }
    &:not(.is-disabled).is-focus {
      border-color: var(--#{$prefix}-focus-border-color);
    }
    &.is-disabled,
    &-inner:disabled {
      @include mixins.vui-disabled;
    }

    // 内容
    &-inner {
      @include mixins.vui-ellipsis;

      flex: auto;
      height: 100%;
      font-family: inherit;
      font-size: inherit;
      color: var(--#{$prefix}-text-color);
      appearance: none;
      outline: none;
      background-color: transparent;
      border: none;
    }

    // 尺寸
    &--medium {
      height: 32px;
      font-size: 14px;
      line-height: 30px;
    }
    &--small {
      height: 24px;
      font-size: 12px;
      line-height: 22px;
    }

    // 图标
    --vui-icon-color: var(--vui-text-color-placeholder);
    &-clear:hover {
      --vui-icon-color: var(--vui-text-color-secondary);
    }
  }

  // 输入框
  @if $prefix == "vui-input" () {
    .vui-input {
      padding: 0 8px;
      cursor: text;
    }
  }

  // 选择器
  @if $prefix == "vui-select" () {
    :root {
      --vui-option-bg-color: var(--vui-bg-color-overlay);
    }
    .vui-select {
      position: relative;
      z-index: 1;

      // 内容
      &-inner {
        padding-right: 22px;
        padding-left: 8px;
        cursor: pointer;
      }

      // 下拉图标
      &-icon {
        position: absolute;
        top: 50%;
        right: 8px;
        z-index: -1;
        transform: translateY(-7px);
      }

      // 下拉选项
      &-option {
        cursor: pointer;
        background-color: var(--vui-option-bg-color);
      }
    }
  }
}
