// 输入框 vui-input
// 选择器 vui-select
// ----------------------------------------

@use "../../../styles/mixins";

@mixin vui-input($prefix) {
  // vars
  :root {
    --#{$prefix}-text-color: var(--vui-text-color-regular);
    --#{$prefix}-placeholder-color: var(--vui-text-color-placeholder);
    --#{$prefix}-bg-color: var(--vui-fill-color-blank);
    --#{$prefix}-border-color: var(--vui-border-color-base);
    --#{$prefix}-hover-border-color: var(--vui-text-color-disabled);
    --#{$prefix}-focus-border-color: var(--vui-color-brand-base);
    --#{$prefix}-prepend-text-color: var(--vui-text-color-info);
    --#{$prefix}-prepend-bg-color: var(--vui-fill-color-light);
  }

  // 样式
  .#{$prefix} {
    // 内部的所有图标
    --vui-icon-color: var(--vui-text-color-placeholder);

    // 容器
    display: flex;
    align-items: center;
    width: var(--#{$prefix}-width);
    background-color: var(--#{$prefix}-bg-color);
    &.is-disabled {
      @include mixins.vui-disabled;
    }

    // 标签
    &-prepend,
    &-append {
      display: flex;
      gap: 6px;
      align-items: center;
      height: 100%;
      padding: 0 20px;
      color: var(--#{$prefix}-prepend-text-color);
      background-color: var(--#{$prefix}-prepend-bg-color);
      border: 1px solid var(--#{$prefix}-border-color);
    }
    &-prepend {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &-append {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    // 中间内容
    &-wrapper {
      display: flex;
      flex: auto;
      gap: 6px;
      align-items: center;
      height: 100%;
      border: 1px solid var(--#{$prefix}-border-color);
      border-radius: 4px;
      transition: border-color 0.3s ease;
      &:hover {
        border-color: var(--#{$prefix}-hover-border-color);
      }
      &.is-focus {
        border-color: var(--#{$prefix}-focus-border-color);
      }
    }
    &.is-disabled &-wrapper {
      border-color: var(--#{$prefix}-border-color) !important;
    }
    &--prepend &-wrapper {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &--append &-wrapper {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    // 内容
    &-inner {
      @include mixins.vui-ellipsis;

      flex: auto;
      width: 0;
      height: 100%;
      color: var(--#{$prefix}-text-color);
      &:disabled {
        cursor: not-allowed;
      }
    }

    // 尺寸
    &--large {
      height: 40px;
      font-size: 14px;
      line-height: 38px;
    }
    &--medium {
      height: 32px;
      font-size: 14px;
      line-height: 30px;
    }
    &--small {
      height: 24px;
      font-size: 12px;
      line-height: 22px;
    }
    &--large &-wrapper {
      padding: 0 15px;
    }
    &--medium &-wrapper {
      padding: 0 11px;
    }
    &--small &-wrapper {
      padding: 0 7px;
    }
  }

  // 输入框
  @if $prefix == "vui-input" () {
    .vui-input {
      // 点击状态
      cursor: text;

      // 内置图标
      &-icon {
        cursor: pointer;
      }
      &-icon:hover {
        --vui-icon-color: var(--vui-text-color-secondary);
      }
    }
  }

  // 选择器
  @if $prefix == "vui-select" () {
    .vui-select {
      // 点击状态
      cursor: pointer;

      // 占位文字
      &-placeholder {
        color: var(--#{$prefix}-placeholder-color);
      }
    }
  }
}
