// 输入框
// ----------------------------------------

@use "../../../styles/mixins";

// vars
:root {
  // wrapper
  --vui-input-text-color: var(--vui-text-color-regular);
  --vui-input-bg-color: var(--vui-fill-color-blank);
  --vui-input-border-color: var(--vui-border-color-base);
  --vui-input-hover-border-color: var(--vui-text-color-disabled);
  --vui-input-focus-border-color: var(--vui-color-brand-base);
  --vui-input-count-text-color: var(--vui-text-color-secondary);

  // prepend
  --vui-input-prepend-text-color: var(--vui-text-color-info);
  --vui-input-prepend-bg-color: var(--vui-fill-color-light);
  --vui-input-prepend-border-color: var(--vui-border-color-base);

  // icon
  --vui-input-icon-default-color: var(--vui-text-color-placeholder);
  --vui-input-icon-active-color: var(--vui-text-color-secondary);
}

// error
.vui-form-item.is-error .vui-input {
  --vui-input-border-color: var(--vui-form-error-color);
  --vui-input-hover-border-color: var(--vui-form-error-color);
  --vui-input-focus-border-color: var(--vui-form-error-color);
}

// 样式
.vui-input {
  // 容器
  display: flex;
  width: var(--vui-input-width);

  // 中间内容
  &-wrapper {
    display: flex;
    flex: auto;
    gap: 6px;
    align-items: center;
    height: 100%;
    color: var(--vui-input-text-color);
    cursor: text;
    background-color: var(--vui-input-bg-color);
    border: 1px solid var(--vui-input-border-color);
    border-radius: 4px;
    transition: border-color 0.3s ease;
    &.is-disabled {
      @include mixins.vui-disabled;
    }
    &:not(.is-disabled) {
      &:hover {
        border-color: var(--vui-input-hover-border-color);
      }
      &.is-focus {
        border-color: var(--vui-input-focus-border-color);
      }
    }
  }

  // 输入框
  &-inner {
    @include mixins.vui-ellipsis;

    flex: auto;
    width: 100%;
    height: 100%;
    &:disabled {
      cursor: not-allowed;
    }
  }

  // 前置/后置装饰
  &-prepend,
  &-append {
    display: flex;
    gap: 6px;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    color: var(--vui-input-prepend-text-color);
    background-color: var(--vui-input-prepend-bg-color);
    border: 1px solid var(--vui-input-prepend-border-color);
  }
  &-prepend {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &-append {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &--prepend &-wrapper {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &--append &-wrapper {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  // 前置/后置内容
  &-prefix,
  &-suffix {
    display: flex;
    gap: 6px;
    align-items: center;
    height: 100%;
  }

  // 统计字数
  &-count {
    font-size: 12px;
    color: var(--vui-input-count-text-color);
    white-space: nowrap;
  }

  // 图标
  .vui-icon {
    --vui-icon-color: var(--vui-input-icon-default-color);
  }
  &-icon--clear,
  &-icon--password {
    --vui-icon-cursor: pointer;
    &:hover {
      --vui-icon-color: var(--vui-input-icon-active-color);
    }
  }

  // 尺寸
  &--large {
    height: 40px;
    font-size: 14px;
    line-height: 38px;
  }
  &--medium {
    height: 32px;
    font-size: 14px;
    line-height: 30px;
  }
  &--small {
    height: 24px;
    font-size: 12px;
    line-height: 22px;
  }
  &--large &-wrapper {
    padding: 0 15px;
  }
  &--medium &-wrapper {
    padding: 0 11px;
  }
  &--small &-wrapper {
    padding: 0 7px;
  }
}
