// 选择器
// ----------------------------------------

@use "../../../styles/mixins";

// vars
:root {
  --vui-select-text-color: var(--vui-text-color-regular);
  --vui-select-placeholder-color: var(--vui-text-color-placeholder);
  --vui-select-bg-color: var(--vui-fill-color-blank);
  --vui-select-border-color: var(--vui-border-color-base);
  --vui-select-hover-border-color: var(--vui-text-color-disabled);
  --vui-select-focus-border-color: var(--vui-color-brand-base);
}

// 样式
.vui-select {
  // 内部的所有图标
  --vui-icon-color: var(--vui-text-color-placeholder);

  // 容器
  display: flex;
  gap: 6px;
  align-items: center;
  width: var(--vui-select-width);
  color: var(--vui-select-text-color);
  cursor: pointer;
  background-color: var(--vui-select-bg-color);
  border: 1px solid var(--vui-select-error-border-color, var(--vui-select-border-color));
  border-radius: 4px;
  transition: border-color 0.3s ease;

  // 状态
  &:hover {
    border-color: var(--vui-select-error-border-color, var(--vui-select-hover-border-color));
  }
  &.is-focus {
    border-color: var(--vui-select-error-border-color, var(--vui-select-focus-border-color));
  }
  &.is-disabled {
    @include mixins.vui-disabled;

    border-color: var(--vui-select-border-color) !important;
  }

  // 占位文字
  &-placeholder {
    color: var(--vui-select-placeholder-color);
  }

  // 输入框
  &-inner {
    @include mixins.vui-ellipsis;

    flex: auto;
    height: 100%;
  }

  // 尺寸
  &--large {
    height: 40px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 38px;
  }
  &--medium {
    height: 32px;
    padding: 0 11px;
    font-size: 14px;
    line-height: 30px;
  }
  &--small {
    height: 24px;
    padding: 0 7px;
    font-size: 12px;
    line-height: 22px;
  }
}
