// 选择器
// ----------------------------------------

@use "../../../styles/mixins";

// vars
:root {
  // wrapper
  --vui-select-text-color: var(--vui-text-color-regular);
  --vui-select-placeholder-color: var(--vui-text-color-placeholder);
  --vui-select-bg-color: var(--vui-fill-color-blank);
  --vui-select-border-color: var(--vui-border-color-base);
  --vui-select-hover-border-color: var(--vui-text-color-disabled);
  --vui-select-focus-border-color: var(--vui-color-brand-base);

  // icon
  --vui-select-icon-default-color: var(--vui-text-color-placeholder);
  --vui-select-icon-active-color: var(--vui-text-color-secondary);
}

// error
.vui-form-item.is-error .vui-select {
  --vui-select-border-color: var(--vui-form-error-color);
  --vui-select-hover-border-color: var(--vui-form-error-color);
  --vui-select-focus-border-color: var(--vui-form-error-color);
}

// 样式
.vui-select {
  // 容器
  display: flex;
  gap: 6px;
  align-items: center;
  width: var(--vui-select-width);
  color: var(--vui-select-text-color);
  cursor: pointer;
  background-color: var(--vui-select-bg-color);
  border: 1px solid var(--vui-select-border-color);
  border-radius: 4px;
  transition: border-color 0.3s ease;
  &--placeholder {
    color: var(--vui-select-placeholder-color);
  }
  &.is-disabled {
    @include mixins.vui-disabled;
  }
  &:not(.is-disabled) {
    &:hover {
      border-color: var(--vui-select-hover-border-color);
    }
    &.is-focus {
      border-color: var(--vui-select-focus-border-color);
    }
  }

  // 输入框
  &-inner {
    @include mixins.vui-ellipsis;

    flex: auto;
    width: 100%;
    height: 100%;
    text-align: left;
  }

  // 图标
  .vui-icon {
    --vui-icon-color: var(--vui-select-icon-default-color);
  }
  &-icon--clear {
    --vui-icon-size: 12px;
    --vui-icon-cursor: pointer;
    &:hover {
      --vui-icon-color: var(--vui-select-icon-active-color);
    }
  }

  // 尺寸
  &--large {
    height: 40px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 38px;
  }
  &--medium {
    height: 32px;
    padding: 0 11px;
    font-size: 14px;
    line-height: 30px;
  }
  &--small {
    height: 24px;
    padding: 0 7px;
    font-size: 12px;
    line-height: 22px;
  }

  // dropdown
  &-dropdown {
    --vui-dropdown-max-height: 260px;
  }
}
