// 菜单
// ----------------------------------------

@use "../../../styles/mixins";

// vars
:root {
  --vui-menu-font-size: 14px;
  --vui-menu-text-color: var(--vui-text-color-regular);
  --vui-menu-divider-color: var(--vui-border-color-lighter);
  --vui-menu-item-hover-text-color: var(--vui-color-brand-base);
  --vui-menu-item-hover-bg-color: var(--vui-color-brand-a10);
  --vui-menu-item-active-text-color: var(--vui-color-brand-base);
}

// 样式
.vui-menu {
  &-item {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 8px 20px;
    font-size: var(--vui-menu-font-size);
    color: var(--vui-menu-text-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      color: var(--vui-menu-item-hover-text-color);
      background-color: var(--vui-menu-item-hover-bg-color);
    }
    &.is-active {
      color: var(--vui-menu-item-active-text-color);
    }
  }
  &-label {
    @include mixins.vui-ellipsis;

    flex: auto;
  }
  &-divider {
    height: 1px;
    background-color: var(--vui-menu-divider-color);
  }
}
