// 表单
// ----------------------------------------

// vars
:root {
  --vui-form-label-text-color: var(--vui-text-color-regular);
}

// 样式
.vui-form {
  // 容器
  display: flex;
  flex-direction: column;
  gap: 15px 30px;

  // 表单项的显示模式
  &--filed-inline {
    --vui-input-width: 180px;
    --vui-select-width: 180px;
    --vui-slider-width: 180px;

    display: inline-flex;
    flex-flow: row wrap;
  }

  // 表单项
  &-item {
    display: flex;
    gap: 12px;
    font-size: 14px;
    line-height: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-label {
    flex: none;
    width: var(--vui-form-label-width);
    color: var(--vui-form-label-text-color);
  }
  &-control {
    position: relative;
    flex: auto;
  }

  // 表单项的标签位置
  &--label-top &-item {
    display: block;
  }
  &--label-right &-label {
    text-align: right;
  }
}
