// vars
:root {
  --vui-form-label-text-color: var(--vui-text-color-regular);
}

// 表单
.vui-form {
  // 表单项
  &-item {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-label {
    flex: none;
    width: var(--vui-form-label-width, "auto");
    color: var(--vui-form-label-text-color);
  }
  &-control {
    position: relative;
    flex: auto;
  }

  // 表单项的显示模式
  &--filed-inline &-item {
    display: inline-flex;
    margin-right: 30px;
  }

  // 表单项的标签位置
  &--label-top &-item {
    display: block;
  }
  &--label-right &-label {
    text-align: right;
  }
}
