// 间距
$positions: (mt, top), (mr, right), (mb, bottom), (ml, left);
$sizes: 5, 10, 15, 20, 25, 30;

@each $p1, $p2 in $positions {
  @each $size in $sizes {
    .mx-#{$p1}-#{$size} {
      margin-#{$p2}: #{$size}px !important;
    }
  }
}

// 文本居中
.mx-center {
  text-align: center;
}

// 文本溢出隐藏
.mx-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 可点击
.mx-clickable {
  cursor: pointer !important;
}

// 禁用
.mx-disabled {
  cursor: not-allowed !important;
  opacity: var(--mx-disabled-opcity, 0.6);
}

// 旋转动画
.mx-spin {
  animation: mx-spin 1s linear infinite;
}

@keyframes mx-spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
