@use "./vars";

// 禁用
@mixin mx-disabled {
  cursor: not-allowed !important;
  opacity: 0.6;
}

// 溢出隐藏
@mixin mx-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 输入框
@mixin mx-input($prefix: "mx-input") {
  .#{$prefix} {
    display: inline-flex;
    gap: 8px;
    align-items: center;
    width: 240px;
    line-height: 30px;
    border: 1px solid var(--#{$prefix}-border-color);
    border-radius: 4px;
    transition: border-color 0.3s ease;
    &:not(.mx-disabled):hover,
    &:not(.mx-disabled).is-focus {
      border-color: var(--#{$prefix}-active-border-color);
    }

    // 内容
    &-inner {
      @include mx-ellipsis;

      flex: auto;
      height: 100%;
      font-size: inherit;
      color: var(--#{$prefix}-text-color);
      appearance: none;
      outline: 0;
      background-color: transparent;
    }

    // 尺寸
    &-medium {
      height: 32px;
      font-size: 14px;
    }
    &-small {
      height: 24px;
      font-size: 12px;
    }

    // 图标
    .mx-icon {
      color: var(--#{$prefix}-icon-color);
    }
  }
}
