// 进度条
// ----------------------------------------

// vars
:root {
  --vui-progress-rail-bg-color: var(--vui-border-color-light);
  --vui-progress-track-bg-color: var(--vui-color-brand-base);
  --vui-progress-text-color: var(--vui-text-color-regular);
}

// 样式
.vui-progress {
  // 容器
  display: flex;
  gap: 5px;
  align-items: center;
  color: var(--vui-progress-text-color);

  // 轨道
  &-rail {
    flex: auto;
    height: var(--vui-progress-height, 6px);
    overflow: hidden;
    user-select: none;
    background-color: var(--vui-progress-rail-bg-color);
    border-radius: var(--vui-progress-radius, 4px);
  }

  // 填充
  &-track {
    height: 100%;
    background-color: var(--vui-progress-track-bg-color);
  }

  // 右侧内容
  &-suffix {
    flex: none;
    white-space: nowrap;
  }
}
