// 进度条
// ----------------------------------------

// vars
:root {
  --vui-progress-rail-bg-color: var(--vui-border-color-light);
  --vui-progress-track-bg-color: var(--vui-color-brand-base);
  --vui-progress-text-color: var(--vui-bg-color-base);
}

// 样式
.vui-progress {
  display: flex;
  gap: 4px;
  align-items: center;
  user-select: none;

  // 轨道
  &-rail {
    flex: auto;
    height: var(--vui-progress-height, 6px);
    overflow: hidden;
    background-color: var(--vui-progress-rail-bg-color);
    border-radius: var(--vui-progress-radius, 4px);
  }

  // 填充
  &-track {
    height: 100%;
    background-color: var(--vui-progress-track-bg-color);
    transition: width 0.3s ease;
  }

  // 文字
  &-tip {
    flex: none;
    width: 2em;
    font-size: 14px;
    color: var(--vui-progress-text-color);
    white-space: nowrap;
  }
}
