// 多选框 vui-checkbox
// 单选框 vui-radio
// ----------------------------------------

@use "../../../styles/mixins";

@mixin vui-checkbox($prefix) {
  // vars
  :root {
    // 默认类型
    --#{$prefix}-default-text-color: var(--vui-text-color-regular);
    --#{$prefix}-default-checked-color: var(--vui-color-brand-base);

    // 按钮类型
    --#{$prefix}-btn-text-color: var(--vui-text-color-primary);
    --#{$prefix}-btn-bg-color: var(--vui-fill-color-blank);
    --#{$prefix}-btn-border-color: var(--vui-border-color-base);
    --#{$prefix}-btn-hover-text-color: var(--vui-color-brand-base);
    --#{$prefix}-btn-checked-text-color: var(--vui-color-white);
    --#{$prefix}-btn-checked-bg-color: var(--vui-color-brand-base);
    --#{$prefix}-btn-checked-border-color: var(--vui-color-brand-base);
  }

  // 样式
  .#{$prefix} {
    // 容器
    position: relative;
    display: inline-flex;
    gap: 4px;
    align-items: center;
    width: fit-content;
    height: 32px;
    font-size: 14px;
    vertical-align: top; /* 消除父元素间距 */
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;

    // 禁用状态
    &.is-disabled {
      @include mixins.vui-disabled;
    }

    // 隐藏的输入框
    &-input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
    }

    // 图标
    &-icon {
      --vui-icon-color: var(--vui-border-color-base);
    }
    &.is-checked &-icon {
      --vui-icon-color: var(--vui-color-brand-base);
    }

    // 默认类型
    &-default {
      line-height: 32px;
      color: var(--#{$prefix}-default-text-color);

      // 选中状态
      &.is-checked {
        color: var(--#{$prefix}-default-checked-color);
      }
    }

    // 按钮类型
    &-btn {
      padding: 0 18px;
      line-height: 30px;
      color: var(--#{$prefix}-btn-text-color);
      background-color: var(--#{$prefix}-btn-bg-color);
      border: 1px solid var(--#{$prefix}-btn-border-color);
      border-radius: 4px;

      // 状态
      &:hover {
        color: var(--#{$prefix}-btn-hover-text-color);
      }
      &.is-checked {
        color: var(--#{$prefix}-btn-checked-text-color);
        background-color: var(--#{$prefix}-btn-checked-bg-color);
        border-color: var(--#{$prefix}-btn-checked-border-color);
      }
    }

    // 按钮组
    &-group > &-default {
      margin-right: 10px;
    }
    &-group > &-btn {
      border-left-color: transparent;
      border-radius: 0;
      &:first-child {
        border-left-color: var(--#{$prefix}-btn-border-color);
        border-radius: 4px 0 0 4px;
      }
      &:last-child {
        border-radius: 0 4px 4px 0;
      }
      &.is-checked {
        box-shadow: -1px 0 0 0 var(--#{$prefix}-btn-border-color);
      }
      &.is-checked:first-child {
        border-color: var(--#{$prefix}-btn-checked-border-color);
        box-shadow: none;
      }
    }

    // 显示模式
    &--block {
      display: flex;
    }
    &-group &--block {
      margin-right: 0;
    }
  }
}
